<div class="container">
  <div class="row gy-4 gx-4">
    <div class="col-lg-12">
      <div
        class="bg-light p-2 border rounded d-flex align-items-center justify-content-between"
      >
        <h1 class="fs-4 m-0">Cart</h1>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="cart-table table-responsive">
        <table class="table">
          <tbody>
            <tr *ngFor="let product of cartData|async">
              <td>              
                <div class="product-details align-items-center gap-3 flex-row">
                  <img width="60" [src]="product.img" />
                  <div class="flex-column align-items-start">
                    <p appColorchanges highLightColor="red">{{ product.name | custom}}</p>
                    <!-- <span>
                        <b>Sold by:</b>
                        Fresh Cart
                      </span> -->
                    <!-- <span>
                        <b>Unit :</b>
                        1kg
                      </span> -->
                  </div>
                </div>
              </td>
              <td>
                <div class="product-details">
                  <span> Price </span>
                  <label
                    >{{ product.price | currency : "INR" }}<del></del
                  ></label>
                  <p>You Save: 100.00</p>
                </div>
              </td>
              <td>
                <div class="product-details">
                  <span>Quantity</span>
                  <div>
                    <button class="c-pointer" (click)="decreaseCartValue(product)" [disabled]="product.cartQuantity == 1"> - </button>
                    <span>{{ product.cartQuantity }}</span>
                    <button  class="c-pointer" (click)="increaseCartValue(product)">+</button>
                  </div>
                </div>
              </td>
              <td>
                <div class="product-details">
                  <span>Total</span>
                  <label>{{ product.cartValue | currency : "INR" }}</label>
                </div>
              </td>
              <td>
                <div class="product-details">
                  <span> Action </span>
                  <a
                    class="text-underline text-danger c-pointer"
                    (click)="deleteCartItems(product.id)"
                    >Remove</a
                  >
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="cart-main">
        <div class="card-head">
          <p class="m-0 fs-5">Cart Total</p>
        </div>
        <div class="card-body">
          <ul>
            <li>
              <span>Subtotal</span>
              <span>{{ totalCartValue | currency : "INR" }}</span>
            </li>
            <li>
              <span>Shipping</span>
              <span>Cost at Checkout</span>
            </li>
            <li>
              <span>Tax</span>
              <span>Cost at Checkout</span>
            </li>
          </ul>
        </div>
        <div class="card-foot b-0">
          <div>
            <b>Total</b>
            <span>{{ totalCartValue | currency : "INR" }}</span>
          </div>
          <button class="color-1" routerLink="/checkout">
            Process To Checkout
          </button>
          <button class="color-2">Return To Shopping</button>
        </div>
      </div>
    </div>
  </div>
</div>
